.container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }
.chart-body {
  background-color: #EFEFEF;
  /*background-color: red;*/
}
.chart-div {
  /*width:calc(100vw - 40px);*/
  width: 293px;
  /*height: calc(100vh - 40px);*/
  height: 186px;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin:20px;
}